include header
.wrap
  .content
    header.site-header
      include site_header
    .container
      .row
        .col.col-md-12
          h2 #{cat[0]['category']}
        each val, index in goods
          include card
        div #{cat[0]['description']}
    include nav
  include footer
