include header
.wrap
  .content
    header.site-header
      include site_header
    .container
      .row
        .col.col-md-12
        each val, index in category
          a(href='categories?id='+val['id'])
            p #{val['category']}
            img(
              src='images/'+ val['image']
            )
