.site-nav.button-primary
  .close-button-div
    button.btn-close.close-nav
  h3.cart-header Корзина
  div(id='cart-nav')
  .text-right
    a(
      href='/order'
      target='_blank'
    )
      button.btn.btn-primary Оформить

